.header {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    padding-left: 40px;
    padding-right: 40px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo span {
    font-weight: bold; 
  font-size: 18px;
  }
  .logo img {
    height: 50px;
    width: 70px;
  }
  
  nav {
    display: flex;
    align-items: center;
    margin: 20px;

}

  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    
  }
  nav a:hover {
    color: #ff5a5f;
}
  .cart {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #333;
    position: relative;

  }
  
  .cart-icon {
    position: relative;
    margin-left: 5px;
    font-size: 24px;
  }
  
  .cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
  }
  
  .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 70vh; 
    background-image: url('/public/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    
    padding: 50px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  
  .hero-content {
    max-width: 50%;
  }
  
  .hero-content h2 {
    font-size: 18px;
    color: #666;
  }
  
  .hero-content h1 {
    font-size: 40px;
    margin: 10px 0;
    text-align:center;
    line-height: 1.2;
  }
  h1 span {
    display: block;
    margin-top: 10px; 
  }
  .shop-now {
    background-color: #ff5a5f;
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
  }
  .shop-now:hover{
    background-color: palegreen;
  }
  
  