.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -10px;
  padding: 140px;
}

.product-card {
  border: 1px  #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 7px;
  width: calc(25% - 20px); 
  transition: transform 0.2s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
}

.product-info {
  padding: 10px;
  text-align: center;
}

.product-info h3 {
  margin: 10px 0;
  font-size: 1.2em;
}

.product-info p {
  margin: 5px 0;
  color: #555;
}
.stars i {
  color: #ffcc00;
  margin-right: 2px;
}
.price {
  font-size: 1em;
}

.original-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.discounted-price {
  color: rgb(56, 52, 52);
}